main {
    padding-top: 32px;
    padding-bottom: 32px;
}


table,
th,
td {
    border: 1px solid black;
    text-align: center;
    background: rgba(246, 255, 248, 0.65);
    box-shadow: 0 8px 32px 0 rgba(60, 96, 100, 0.18), 0 1.5px 8px 0 rgba(255, 255, 255, 0.18);
    padding: 32px 24px;
}

table {
    border-radius: 10px;
}
caption{
    font-size: 2.4em;
    font-weight: bold;
    margin-bottom: 16px;
    color:white;
}
main p {
    text-align: center;
    font-size: 2.4em;
    font-weight: bold;
    color: white;
}
.progress-bar {
    width: 100%;
    background-color: grey;
    border-radius: 20px;
    margin-top: 16px;
    display: block;
    height: 24px;
}
#progress{
    width: 0%;
    background-color: red;
    border-radius: 20px;
    
    display: block;
    height: 24px;
}
