#swot-header {
    text-align: center;
    font-size: 3.2em;
}

#swot-container {
    display: flex;
    flex-direction: column;
    gap:2%;
}

.half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1%;
    
}
.half h3{
    text-align: center;
}
.half  ul{
    list-style: none;
}
.half ul li {
    max-inline-size: 65ch;
    line-height: 1.5em;
}
section{
    font-size: 1.2em;
    margin-left: 1%;
    margin-right: 1%;
}